@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #12121200;
}

::-webkit-scrollbar-thumb {
  background-color: #fe9000;
}

::-webkit-scrollbar-thumb:hover {
  background: #fe9000;
}

html,
body {
  background-color: #222;
  color: #f5f5f5;
  font-family: arial;
  min-height: 100%;
  margin: 0;
}

h1:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.content {
  padding-top: 1rem;
}

.page {
  width: 100%;
}
