@inherits LayoutComponentBase

<PageTitle>cvBlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
            <MudThemeProvider/>
        </article>
    </main>
</div>
